<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Papp/css/stylee.css'%}"/>
    <title>{%block title%}base{%endblock%}</title>
    {%block css%}
    {%endblock%}
    <style>
        .mainblock{
        display:flex;
        }
        .block1{
        height:900px;
        width:550px;
        background-color:grey;
        margin:20px;
        display:inline-block;
        font-size:40px;
        padding:5px;
        }
        .size{
        width=300px;
        height:300px;
        }

    </style>

</head>
<body>

<div class="hat"><div class="navigator">
    <ul>
    Перейти
    <li class="first"><a href="{% url 'index' %}">Главная</a></li>
    <li class="second"><a href="{% url 'users' %}">База данных</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Выйти ({{ user.username }})</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Вход</a></li>
        <li><a href="{% url 'register' %}">Регистрация</a></li>
    {% endif %}
    </ul>
</div>
<div class="nice"><a href="{% url 'forum'%}">Форум</a></div>
    <div><img class="moveright" src="{% static 'Papp/images/i.webp' %}"></div>
</div>
{% block content%}
{% if user.is_authenticated %}
<div class="mainblock">
<div class="block1"><img class="size" src="{% static 'Papp/images/download.jpg'%}">
    Добро пожаловать в нашу школьную семью! Здесь каждый день — это новая возможность учиться, расти и открывать мир. Наша школа — не просто здание с классами, а пространство, где рождаются идеи, дружба и будущие мечты.</div>
<div class="block1"><img class="size" src="{% static 'Papp/images/download.png'%}">
    Учимся с увлечением От уроков математики до школьных спектаклей — у нас каждый найдёт занятие по душе. Современные технологии, творческие проекты и поддержка педагогов помогают раскрыть таланты каждого ученика.</div>
<div class="block1"><img class="size" src="{% static 'Papp/images/download (1).jpg'%}">
    Вместе к успеху Родители, учителя и ученики — мы единая команда. На этом сайте вы всегда найдёте актуальную информацию: расписание, новости, достижения и полезные советы для учёбы и отдыха.</div>
</div>
{% else %}
<h1>Please, registrate first</h1>
{% endif %}
{% endblock %}
</body>
</html>